/*
  !Note: important
  
  TODO: rem and em do NOT depend on html font-size in media queries! 1rem = 1em = 16px

  TODO: do NOT use rem on media queries, because there is a problem with rem, use em to solve this problem.
  
  TODO: and default font-size on media queries is 16px; and for use em must divide 1344 / 16px = 86em
*/

/* TODO: BELOW 1344px (smaller desktop) */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* TODO: BELOW 1200px (Landscape Tablets) */
@media (max-width: 75em) {
  html {
    /* * 9px / 16px * 100 */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/* TODO: BELOW 944px (Tablets) */
@media (max-width: 59em) {
  html {
    /* * 8px / 16px * 100 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    /*
      !cara menghitung pecahan satuan fr untuk mengetahui persentase

      * Menggunakan cara peretama
      ? 2 dan 3 adalah fr  / 5 (dari 2 + 3 fr) * 100 untuk ubah menjadi %
      * 3/5 + 2/5
      * 60%  || 40%
      * jadi 3fr = 60% dan 2fr = 40%

      * Menggunakan cara kedua dengan langsung menentukan persen
      * exp: col pertama ingin 60% dan ke dua 40%
      * 60/100 = 6/10 = 3/5
      * 40/100 = 4/10 = 2/5
      ? maka : grid-template-columns: 3fr 2fr;
    */
    /* 
      70% dan 30%
      70/100 = 7/10
      30/100 = 3/10
    */
    /* grid-template-columns: 7fr 3fr; */
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  /* TODO: MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* hide navigation */
    /* Allows NO transition at all */
    /* display: none; */

    /* !gunakan dibawah ini jika menggunakan opacity, karena pada dasarnya opacity hanya menyembunyikan visual saja, tidak benar benar hilang */
    /*  * 1) sembunyikan secara visual */
    opacity: 0;

    /*  * 2) Jadikan tidak dapat diakses oleh mouse dan keyboard */
    pointer-events: none;

    /*  * 3) Sembunyikan dari layar */
    visibility: hidden;
  }

  .nav-open .main-nav {
    /* !ketika class .nav-open aktif maka kembalikan ke normal */
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    /* 
    * memunculkan icon close ketika class .nav-open aktif
    */
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    /* 
    * menghilangkan icon menu ketika class .nav-open aktif
    */
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/* 
! Font sizes(px)
? 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

!Spacing System (px)
? 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
